{% extends 'base.html' %}
{% block content %}

<div class="col-lg-5 shadow pt-4 mx-auto">
    <div class="alert alert-success">
        <h2>ADD TASK,{{user}}!</h2>
    </div>
    <div class="p-4">
        <form action="/addtodo" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <div class="form-group m-3">
                <input required name="images" type="file" multiple class="form-control-file">
            </div>
            <hr>
            <input type="submit" class="btn btn-info" value="save">
        </form>
    </div>
</div>

{% endblock %}