{% extends 'base.html' %}
{% block content %}
<div class="container pt-4">
    <div class="col-lg-5 shadow p-0 mx-auto">
        <div class="alert alert-success">
            <h2>Log In to your Account</h2>
        </div>
        <div class="p-4">
            <form action="/login" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                <input type="submit" class="btn btn-success" value="Log In">
            </form>
        </div>
    </div>
</div>
{% endblock %}